@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --bg-grey-100: #b0acac;
  --bg-green-500: #043927;
  --bg-brown-900: #564949;
  --bg-browm-700: #785858;
  --bg-brown-200: #967373;
  --bg-green-50: #008000;
  --text-brown-100: #6c4747;
  --text-brown-50: #cf6b6b;
  --text-black-100: #fdf9ff;

  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.main-container {
  background-color: var(--bg-green-500);
  color: var(--text-black-100);
}
body {
  font-size: 16px;
  line-height: 1.5;
}
::before,
::after {
  box-sizing: border-box;
}

/* .section-title {
  flex: 0 0 100%;
  max-width: 100%;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--text-brown-50);
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 15px;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 60px;
} */
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
i {
  color: var(--text-brown-50);
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* aside */
.aside {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 1000;
  /* height: calc(5rem+1rem); */
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}
.aside .logo {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--bg-brown-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 48px;
}
.aside .logo a::before {
  content: "";
  position: fixed;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--text-brown-50);
  border-left: 5px solid var(--text-brown-50);
  top: 40px;
  left: 10px;
}
.aside .logo a::after {
  content: "";
  position: fixed;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--text-brown-50);
  border-right: 5px solid var(--text-brown-50);
  top: 15px;
}

.nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid #e8dfec;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}
.nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--text-brown-50);
  display: inline-block;
}
.nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--text-brown-50);
  position: absolute;
  top: 12px;
  left: 13px;
}
.nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--text-brown-50);
  position: absolute;
  top: 24px;
  left: 13px;
}
.aside .nav .nav1,
.aside .nav .nav2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 200px;
  transition: 0.3s ease;
  top: 0;
  left: 0;
}
.nav li {
  float: left;
  list-style: none;
  top: 0;
  left: 0;
}
.nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-brown-200);
  color: var(--bg-brown-900);
  padding: 5px 25px;
}
.nav li a:hover {
  color: var(--text-brown-50);
}
.nav li a i {
  margin-right: 15px;
}
.nav a:not(:last-child) {
  margin-right: 45px;
}
.d-block {
  width: 100%;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
/* home */

.slider {
  width: 100%;
  height: 700px;
  border-radius: 15px;
  overflow: hidden;
}

/* .slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
} */

/* .slide {
  width: 20%;
  transition: 2s;
} */
.slide img {
  margin-top: 130px;
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}

.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 100s slider infinite;
}
.slider figure img {
  max-width: 100%;
  width: 20%;
  height: 600px;
  float: left;
  background-size: cover;
  margin-bottom: 20px;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* manual slide navigator */
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  /* border: 2px solid var(--bg-browm-700); */
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  /* background-color: var(--bg-browm-700); */
}

#radio1.checked ~ .first {
  margin-left: 0;
}

#radio2.checked ~ .first {
  margin-left: -20px;
}

#radio3.checked ~ .first {
  margin-left: -40px;
}

#radio4.checked ~ .first {
  margin-left: -60px;
}

#radio5.checked ~ .first {
  margin-left: -80px;
}
.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  /* border: 2px solid var(--scroll-thumb-color); */
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1.checked ~ .navigation-auto .autobtn1 {
  background-color: #043927;
}
#radio2.checked ~ .navigation-auto .autobtn2 {
  background-color: #043927;
}
#radio3.checked ~ .navigation-auto .autobtn3 {
  background-color: #043927;
}
#radio4.checked ~ .navigation-auto .autobtn4 {
  background-color: #043927;
}
#radio5.checked ~ .navigation-auto .autobtn5 {
  background-color: #043927;
}

.image .text-content {
  position: absolute;
  top: 45%;
  color: var(--text-black-100);
  margin-left: 30px;
  margin-top: 350px;
  transition: 0.3s ease;
  width: 500px;
  height: 500px;
}

.image .text-content .inner .title {
  color: var(--bg-grey-100);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
  /* opacity: 0; */
}

.image-active .text-content .inner .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.image .text-content .inner .title span {
  font-family: "Clicker Script", cursive;
  font-size: 48px;
}
.image .text-content .inner p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.image .text-content .inner p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.roles .header {
  color: var(--bg-grey-100);
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-12 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}
/* Landlords */

.landlord .container {
  padding-bottom: 40px;
}

.landlord .landlord-item {
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.333%;
}
.landlord .landlord-item .feature {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  text-align: left;
  transition: all 0.35 ease;
  height: 600px;
  cursor: pointer;
}

.landlord .landlord-item .feature:hover {
  box-shadow: 0 0 20px rgba(48 46 77 0.15);
  background-color: #282f4e;
}

.landlord .landlord-item .feature .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  /* margin: 0 auto 30px; */

  margin-bottom: 20px;
  text-align: center;
  transition: all 0.35 ease;
  /* justify-content: center; */
}
.landlord .landlord-item .feature h3 {
  text-align: left;
  font-size: 28px;
}
.landlord .landlord-item .feature .icon i {
  font-size: 40px;
  line-height: 60px;
  color: var(--text-brown-50);
  transition: all 0.35 ease;
  display: flex;
  justify-content: center;
  /* margin-left: 100px; */
}

.landlord .landlord-item .feature:hover .icon {
  background: var(--text-brown-50);
}

.landlord .landlord-item .feature:hover .icon i {
  font-size: 25px;
  color: #ffffff;
}

.landlord .landlord-item .feature h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--bg-grey-100);
  font-weight: 700;
  text-transform: capitalize;
  display: none;
}

.landlord .landlord-item .feature li {
  font-size: 16px;
  color: var(--text-black-100);
  line-height: 25px;
}

/* Property managers */

.manager .container {
  padding-bottom: 40px;
}

.manager .manager-item {
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.333%;
}
.manager .manager-item .feature {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  text-align: left;
  transition: all 0.35 ease;
  height: 600px;
  cursor: pointer;
}

.manager .manager-item .feature:hover {
  box-shadow: 0 0 20px rgba(48 46 77 0.15);
  background-color: var(--text-brown-50);
}

.manager .manager-item .feature .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  /* margin: 0 auto 30px; */

  margin-bottom: 20px;
  text-align: center;
  transition: all 0.35 ease;
  /* justify-content: center; */
}
.manager .manager-item .feature h3 {
  text-align: left;
  font-size: 28px;
}
.manager .manager-item .feature .icon i {
  font-size: 40px;
  line-height: 60px;
  color: #282f4e;
  transition: all 0.35 ease;
  /* margin-left: 100px; */
}

.manager .manager-item .feature:hover .icon {
  background: #282f4e;
}

.manager .manager-item .feature:hover .icon i {
  font-size: 25px;
  color: #ffffff;
}

.manager .manager-item .feature h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--bg-grey-100);
  font-weight: 700;
  text-transform: capitalize;
  display: none;
}

.manager .manager-item .feature li {
  font-size: 16px;
  color: var(--text-black-100);
  line-height: 25px;
}
/* tenants */
.tenant .container {
  padding-bottom: 40px;
}

.tenant .tenant-item {
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.333%;
}
.tenant .tenant-item .feature {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  text-align: left;
  transition: all 0.35 ease;
  height: 600px;
  cursor: pointer;
}

.tenant .tenant-item .feature:hover {
  box-shadow: 0 0 20px rgba(48 46 77 0.15);
  background-color: #282f4e;
}

.tenant .tenant-item .feature .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  /* margin: 0 auto 30px; */

  margin-bottom: 20px;
  text-align: center;
  transition: all 0.35 ease;
  /* justify-content: center; */
}
.tenant .tenant-item .feature h3 {
  text-align: left;
  font-size: 28px;
}
.tenant .tenant-item .feature .icon i {
  font-size: 40px;
  line-height: 60px;
  color: var(--text-brown-50);
  transition: all 0.35 ease;
  display: flex;
  justify-content: center;
  /* margin-left: 100px; */
}

.tenant .tenant-item .feature:hover .icon {
  background: var(--text-brown-50);
}

.tenant .tenant-item .feature:hover .icon i {
  font-size: 25px;
  color: #ffffff;
}

.tenant .tenant-item .feature h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--bg-grey-100);
  font-weight: 700;
  text-transform: capitalize;
  display: none;
}

.tenant .tenant-item .feature li {
  font-size: 16px;
  color: var(--text-black-100);
  line-height: 25px;
}

/* contaractors */
.contractor .container {
  padding-bottom: 40px;
}

.contractor .contractor-item {
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.333%;
}
.contractor .contractor-item .feature {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  text-align: left;
  transition: all 0.35 ease;
  height: 600px;
  cursor: pointer;
}

.contractor .contractor-item .feature:hover {
  box-shadow: 0 0 20px rgba(48 46 77 0.15);
  background-color: var(--text-brown-50);
}

.contractor .contractor-item .feature .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  /* margin: 0 auto 30px; */

  margin-bottom: 20px;
  text-align: center;
  transition: all 0.35 ease;
  /* justify-content: center; */
}
.contractor .contractor-item .feature h3 {
  text-align: left;
  font-size: 28px;
}
.contractor .contractor-item .feature .icon i {
  font-size: 40px;
  line-height: 60px;
  color: #282f4e;
  transition: all 0.35 ease;
  /* margin-left: 100px; */
}

.contractor .contractor-item .feature:hover .icon {
  background: #282f4e;
}

.contractor .contractor-item .feature:hover .icon i {
  font-size: 25px;
  color: #ffffff;
}

.contractor .contractor-item .feature h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--bg-grey-100);
  font-weight: 700;
  text-transform: capitalize;
  display: none;
}

.contractor .contractor-item .feature li {
  font-size: 16px;
  color: var(--text-black-100);
  line-height: 25px;
}

/* contact */
.contact-sub-title {
  color: var(--text-brown-100);
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
  /* margin-left: 50%; */
}
.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--text-brown-50);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background: var(--text-black-100);
  border: 1px solid #282f4e;
  padding: 10px 25px;
  font-size: 16px;
  color: var(--bg-browm-700);
  transition: all 0.3s ease;
}
.contact .contact-form .form-control:focus {
  box-shadow: 0 0 20px rgba(48 46 77 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}
/* Responsive */
@media (max-width: 991px) {
  .contact .contact-info-item,
  .landlord .landlord-item,
  .manager .manager-item,
  .tenant .tenant-item,
  .contractor .contractor-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .slider {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .landlord .landlord-item,
  .manager .manager-item,
  .tenant .tenant-item,
  .contractor .contractor-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* @media screen and(max-width: 785px) {
  .aside .nav {
    padding: 25px 20px;
  }
  .fa-bars {
    display: block;
    color: var(--text-brown-50);
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 5px;
    /* background: var(--bg-green-500); 
  }
  .nav-items .fa-xmark {
    display: block;
    color: var(--text-brown-50);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .nav,
  .logo {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }
  .nav .active {
    visibility: visible;
    opacity: 1;
  }

  .nav .nav-items .nav1,
  .nav .nav-items .nav2 {
    position: relative;
    background: var(--bg-grey-100);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-10px);
    transition: 0.3s ease;
  }

  .nav-items .nav1 a,
  .nav-items .nav2 a {
    /* color: var(--bg-brown-900); 
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }
} */

/* billing */
.title {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 50%;
  color: #b0acac;
}
.billing-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem, auto;
  position: relative;
  height: auto;
  margin-top: 15vh;
}

.billing-info-left {
  max-width: 100%;
  height: 500px;
  background-position: left;
  margin-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 2rem;
}
.billing-info-left img {
  height: 600px;
  width: 100%;
  background-color: var(--bg-green-500);
}
.billing-info-right {
  text-align: center;
  margin: 1rem;
}

.billing-info-right .sub-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.billing-info-right p {
  margin-top: 0.5rem;
  padding: 0 1rem;
  line-height: 1.5;
  color: var(--bg-grey-100);
}

/* billig-form */
.container form {
  padding: 20px;
  width: 700px;
  background: var(--bg-green-500);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 100px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #b0acac;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 10px;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background-color: #073b07;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}
